<h2>About the Offseason Simulator<br></h2>
The first step of the simulator is to make moves that create cap space. The administrator
researched local and national reports, and made educated guesses as to what moves
will be made. These moves do not change when you re run the simulator<br><br>

The next step is to make the key internal decision. One player from previous year's roster
is highlighted. The simulator will randomly decide this key player's fate. <br><br>

Next, a top external target is identified. The simulator will randomly attempt
to sign or trade for the top target.<br><br>

Finally, depending on the results of the internal decision and top external targer,
the simulator will make a final cut to make cap room to sign the draft class, do nothing,
or sign generic free agents. These unnamed players can be thought of as the second or third
wave of free agents at the listed position. They are decent/average players, who can be
trusted to fill out the starting lineup, or can be used in rotations. <br><br>

After the draft, there will always be final UDFA and veteran signings. These are not mentioned
by the simulator, and are usually camp bodies, with a chance to battle for depth roles.

<br><br><a href="{% url 'home' %}">Return to Home Page</a>
<br><br><hr>
@TheTree43 ©2021
