<h2>Welcome Football Fan!<br></h2>

Have you ever been doing a draft simulation, but realized that it skips a step? Unlike the NBA, NFL free agency starts before the draft.
<br>Decisions on whether to retain, trade, extend, restructure, release, or say goodbye to players, and the acquisitions you make on the open .
<br>Free Agent market define your team's draft strategy. Without knowing the moves your team makes,its hard to know which positions
<br>to target. It is even hard to know if you had a good draft situation.<br><br>

This tool takes the guess work out of draft simulating by first simulating the pre-draft offseason. <br>
It is not intended to predict cap casualties or free agent signings.<br>
The purpose is only to randomly provide you parameters by which to draft sim.

<br><br>Which team do you want to draft for?<br>

<h3>NFC North</h3>[Standin Button]<br>
[Standin Button]<br>
[Standin Button]<br>
[Standin Button]<br>
*The plan is to add the other divisions next offseason.

<br><br>Want to know how it works?<a href="{% url 'about' %}">About Offseason Simulator</a>

<br><br>See what choices are made for each team.<br>
<a href="{% url 'Packers' %}">Packers</a>|
<a href="{% url 'Bears' %}">Bears</a>|
<a href="{% url 'Vikings' %}">Vikings</a>|
<a href="{% url 'Lions' %}">Lions</a>|
